@import box

html
    height: 100%

body
    background-color: rgba(255,247,240, 1)
    max-width: 80ch
    width: calc(100% - 1rem)
    margin: 0 auto
    display: flex
    flex-direction: column
    justify-content: space-between
    height: 100%
    font-family: lato

.nolink
    color: black
    text-decoration: none

footer
    margin: 1rem 0
    background-color: white
    position: relative

#footercontent
    padding: 1rem
    border: 1px solid black

header
    margin: 1rem 0
    margin-bottom: 2rem
    position: relative
    background-color: white
    +box(11px)

#headercontent
    display: flex
    justify-content: space-between
    align-items: center
    padding: 0.5rem 1rem
    border: 3px solid black

#headertitle
    font-size: 2rem
    font-weight: 700
    color: black
    text-decoration: none
    
    &:hover, &:focus
        text-decoration: underline

#about
    color: black
    text-decoration: none
    font-size: 1.2em

    &:hover, &:focus
        text-decoration: underline

[class^="icon-"]
    font-size: 1.2em