=box($offset)
    margin-right: $offset
    &:after, &:before
        content: ''
        background: black
        position: absolute
    &:after
        width: 100%
        height: $offset
        transform: translatey(100%) skewx(45deg)
        bottom: 0
        left: $offset / 2
    &:before
        height: 100%
        width: $offset
        transform: translatex(100%) skewy(45deg)
        right: 0
        top: $offset / 2