$shadowcolor: rgb(80, 80, 80)

=animatedshadow()
    box-shadow: 5px 5px $shadowcolor

    transition-property: box-shadow,transform
    transition-duration: .1s,.2s
    transition-timing-function: ease

    border: 1px solid $shadowcolor

    &:hover, &:focus
        transform: translate(4px,4px)
        box-shadow: 1px 1px $shadowcolor

.button
    display: block
    background-color: white
    +animatedshadow
    padding: 10px 16px
    color: black
    text-decoration: none

p.button
    background-color: lightgrey
    box-shadow: 1px 1px $shadowcolor
    transform: translate(4px, 4px)