@import button

.post
    display: block
    margin: 0
    margin-right: 5px
    margin-bottom: 16px
    +animatedshadow

.post-wrapper
    padding: 1.2em 2em
    background-color: white
    transition: background-color 0.1s ease

.post-date
    color: black;

.post-title
    font-size: 1.5em
    margin: 0

.post-content
    margin-top: .5em

.post-cover
    position: absolute
    top: 0
    left: 0
    bottom: 0
    right: 0
    z-index: 0
    width: 100%
    height: 100%
    object-fit: cover
    opacity: 0
    box-sizing: border-box

.post:hover, .post:focus
    .post-cover
        opacity: 1
    .post-wrapper,
        background-color: rgba(0, 0, 0, 0)
    .post-title, .post-content
        color: #FFFFFF
    .post-date
        color: #DDDDDD

.post-wrapper
    position: relative
    z-index: 1

h2
    margin: 0

.pagination
    display: grid
    grid-template-columns: repeat(3, 1fr)

.pagebutton
    margin: 0 5px

.marginalized
    margin: 0 10px

.buttongroup
    display: flex

.buttongroup:nth-child(1)
    justify-self: left

.buttongroup:nth-child(2)
    justify-self: center

.buttongroup:nth-child(3)
    justify-self: right