@import button

#title
    font-size: 2.5rem
    margin-top: 1rem
    margin-bottom: 0

#date
    margin-top: 0px
    margin-bottom: 2rem
    color: #444

    &>p
        margin: 0

main
    margin: 0 1rem
    display: flex
    flex-direction: column

.post-content
    line-height: 1.7
    font-size: 1.125rem

.post-content > ol > li, .post-content > ul > li
    margin-bottom: 1rem

.post-content > p
    margin-top: 0

h1, h2, h3, h4, h5, h6
    margin-bottom: 0

.youtube
    position: relative
    width: 70%
    margin: 1rem auto
    padding-bottom: 56.25% * 0.7
    padding-top: 30px
    height: 0
    overflow: hidden

.youtube > iframe
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

.caption
    text-align: center
    margin: 0 auto
    margin-bottom: 1rem
    width: calc(100% - 4rem)
    font-size: 1rem
    color: rgb(100, 100, 100)

#navigation
    display: grid
    grid-template-columns: repeat(3, 1fr)

.button:nth-child(1)
    justify-self: left

.button:nth-child(2)
    justify-self: center

.button:nth-child(3)
    justify-self: right