{% macro styling() %}
    <style>
        {%- set css1 = load_data(path="public/base.css") -%}
        {{ css1 | safe}}

        {%- set css2 = load_data(path="static/fontstyle.css") -%}
        {{ css2 | safe }}
    </style>
    <link rel="shortcut icon" href="{{ get_url(path='favicon.ico') }}" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;1,400&display=swap" rel="preload" as="style"> 
{% endmacro styling %}

{% macro favicon() %}
    {%- if config.extra.favicon is defined -%}
        <link rel="shortcut icon" href="{{ get_url(path=config.extra.favicon) }}" type="image/x-icon" />
    {%- endif -%}
{% endmacro favicon %}

{% macro rss() %}
    {%- if config.generate_feed -%}
        <link rel="alternate" type="application/rss+xml" title="{{ config.title }} RSS" href="{{ get_url(path="rss.xml") }}">
    {%- endif -%}
{% endmacro rss %}

{% macro general_meta() %}
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5">
    <meta name="description" content="{{ config.description }}"/>
{% endmacro general_meta %}
