{% macro list_pages() %}
<div class="posts">
    {%- for page in paginator.pages -%}      
        <a href="{{ page.permalink }}"
            {%- if page.extra.cover -%}
                {%- set folder = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") -%}
                {%- set path = folder ~ "/" ~ page.extra.cover -%}
                style="background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
                    no-repeat center/100% url({{ resize_image(path=path, width=600, op='fit_width') }}),
                    linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0));"
            {%- else -%}
                style="background: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.6));"
            {%- endif -%}
            class="post nolink on-list">
            <div class="post-wrapper">
                <h1 class="post-title">
                    {{ page.title }}
                </h1>
                
                {{ posts::meta(page=page, author=config.extra.show_author) }}
    
                <div class="post-content">
                    {%  if page.description -%}
                        {{ page.description }}
                    {%  endif -%}
                </div>
            </div>
        </a>
    {%- endfor -%}
</div>
{% endmacro list_pages %}
