{% macro paginate() %}
    <div class="pagination">
        <div class="buttongroup">
            {% if paginator.previous -%}
                <a class="button" aria-label="First page" href="{{ paginator.first }}">
                    <i class="icon-angle-double-left" aria-hidden="true"></i>
                </a>
                <a href="{{ paginator.previous }}" aria-label="Previous page" class="button previous marginalized">
                    <i class="icon-angle-left" aria-hidden="true"></i>
                </a>
            {%  endif -%}
        </div>
        <div class="buttongroup">
            {%- set start = paginator.current_index - 2 -%}
            {%- if start < 1 -%}
                {%- set start = 1 -%}
            {%- endif -%}
            {%- set end = paginator.current_index + 2 -%}
            {%- if end > paginator.number_pagers -%}
                {%- set end = paginator.number_pagers -%}
            {%- endif -%}
            {%- for i in range(start=start, end=end+1) -%}
                {%- if i == paginator.current_index -%}
                    <p class="button pagebutton current">{{i}}</p>
                {%- else -%}
                    <a href="{{ paginator.base_url }}{{i}}" aria-label="Page {{i}}" class="button pagebutton">{{i}}</a>
                {%- endif -%}
            {%- endfor -%}
        </div>
        <div class="buttongroup">
            {% if paginator.next -%}
                <a href="{{ paginator.next }}" aria-label="Next page" class="button next marginalized">
                    <i class="icon-angle-right" aria-hidden="true"></i>
                </a>
                <a class="button" aria-label="Last page" href="{{ paginator.last }}">
                    <i class="icon-angle-double-right" aria-hidden="true"></i>
                </a>
            {% endif-%}
            
        </div>

    </div>
{% endmacro paginate %}
