<div {% if class %}class="{{class}}"{% endif %}>
    {%- set folder = page.relative_path | split(pat="/") | slice(end=-1) | join(sep="/") -%}
    {%- set fullpath = folder ~ "/" ~ path -%}
    {%- set meta = get_image_metadata(path=fullpath) -%}
    {%- set path2 = resize_image(path=fullpath, width=700, height=1400, op="fit", format="jpeg") -%}
    <img src="{{path2}}" width="100%", alt="{{caption}}">
    <p class="caption">{{caption}}</p>
</div>