{% import "macros/head.html" as head -%}

<!DOCTYPE html>
<html lang="{{ config.default_language }}">
    <head>
        <style>
            @font-face {
                font-family: 'icomoon';
                src:  url('{{config.base_url | safe}}/fonts/icomoon.eot?8gvbv8');
                src:  url('{{config.base_url | safe }}/fonts/icomoon.eot?8gvbv8#iefix') format('embedded-opentype'),
                url('{{config.base_url | safe }}/fonts/icomoon.ttf?8gvbv8') format('truetype'),
                url('{{config.base_url | safe }}/fonts/icomoon.woff?8gvbv8') format('woff'),
                url('{{config.base_url | safe }}/fonts/icomoon.svg?8gvbv8#icomoon') format('svg');
                font-weight: normal;
                font-style: normal;
                font-display: block;
            }
        </style>
        {%- block title -%}
            <title>{{ config.title }}</title>
        {%- endblock title -%}

        {%- block general_meta -%}
            {{ head::general_meta() }}
        {%- endblock general_meta -%}
    
        {%- block css -%}
            {{ head::styling() }}
        {%- endblock css -%}

        {%- block favicon -%}
            {{ head::favicon() }}
        {%- endblock favicon -%}

        {%- block rss -%}
            {{ head::rss() }}
        {%- endblock rss -%}

        {%- block custom_head -%}
        {%- endblock custom_head -%}
    </head>
    <body>
        <header>
            {%- block header -%}
                <div id="headercontent">
                    <a id="headertitle" href="{{get_url(path='@/_index.md')}}">
                        {{ config.title }}
                    </a>
                    <a id="about" href="{{ get_url(path='@/pages/about.md') }}">About</a>
                </div>
            {%- endblock header -%}
        </header>
        <main>
            {% block main %}
            {% endblock main %}
        </main>
        <div id="footerdiv">
            <footer>
                <div id="footercontent">
                    &copy; {{ now() | date(format="%Y") }}, {{ config.extra.author }}
                </div>
            </footer>
        </div>
    </body>
</html>