{%- extends "base.html" -%}

{%- block title -%}
    <title>{{ page.title }} - {{ config.title }}</title>
{%- endblock title -%}

{%- block custom_head -%}
    <style>
        {%- set css = load_data(path="public/page.css") -%}
        {{ css | safe }}
    </style>
    <script defer async src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
{%- endblock custom_head -%}

{%- block main -%}
    <div>
        <h1 id="title">{{ page.title }}</h1>
        <div id="date">
        {%- if page.date -%}
        <p>Posted on {{ page.date | date(format="%d %B %Y")}}</p>
        {%- endif -%}
        {%- if page.updated -%}
            <p>Updated on {{ page.updated | date(format="%d %B %Y")}}</p>
        {%- endif -%}
        </div>
    </div>
    <div class="post-content">
        {{ page.content | safe }}
    </div>
    <div id="navigation">
        {%- if page.later -%}
            <a class="button" aria-label="Next post" href="{{ page.later.permalink }}">
                <i class="icon-angle-left" aria-hidden="true"></i>
            </a>
        {%- else -%}
            <div></div>
        {%- endif -%}
        <a class="button" aria-label="home" href="{{ get_url(path='@/_index.md')}}">
            <i class="icon-home" aria-hidden="true"></i>
        </a>
        {%- if page.earlier -%}
            <a class="button" aria-label="Previous post" href="{{ page.earlier.permalink }}">
                <i class="icon-angle-right" aria-hidden="true"></i>
            </a>
        {%- else -%}
            <div></div>
        {%- endif -%}
    </div> 
{%- endblock main -%}